<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>

    <div style="display: inline-block; margin: 1%">
        <img class="shoeImg" src="/static/uploads/<%-kepuca.emrifotos%>" alt="">
        <p>Madhesia : <%-kepuca.madhesia%>
        </p>
        <p>Cmimi : <%-kepuca.cmimi%>
        </p>
        <a href="/produktet/blej/<%-kepuca.id%>"><button>Blej</button></a>
    </div>

</body>

</html>