<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>
    <nav>
        <div class="logoBox">
            <h2>Logo</h2>
        </div>
        <ul>
            <li><a href="/">Ballina</a></li>
            <li><a href="/produktet">Produktet</a></li>
            <li><a href="/rrethNesh">Rreth Nesh</a></li>
        </ul>
    </nav>
</body>

</html>