<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/forms.css">
</head>

<body>
    <nav>
        <div class="logoBox">
            <a href="/"><img width="40" src="/static/img/logo.png" alt=""></a>
        </div>
        <ul>
            <li><a href="/">Ballina</a></li>
            <li><a href="/signUp">Regjistrohu</a></li>
            <li><a href="/userLogin">Kycu</a></li>
            <li><a href="/produktet">Produktet</a></li>
            <li><a href="/rrethNesh">Rreth Nesh</a></li>
            <li><a href="/login"><img src="/static/img/user.png" width="30"></a></li>
        </ul>
    </nav>


    <div class="center">

        <div style="margin-top:3%;">
            <p style="
            text-transform: uppercase;
            text-align: center;
            font-size: 150%; 
             ">Regjistrohu</p>
            <form action="/userLoginForm" method="POST">
                <input type="emri" name="" id="" placeholder="Emri">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="" id="">
            </form>
            <p style="color:green">

            </p>
        </div>
    </div>
</body>

</html>