.main-text {
    text-transform: uppercase;
    font-size: 300%;
    text-align: center;
    margin:5% 0 1% 0 ;
    letter-spacing: 4px;
    color:darkgray;

    animation:moveRight 3s ease;
}

.second-text {
    width:50%;
    margin:auto;
    text-align: center;
    color:#7bacdf;
    animation:moveLeft 3s ease;
}

.topseller-text {
    text-align: center;
    margin:3% 0 1% 0;
    text-transform:uppercase ;
    font-size: 200%;
    letter-spacing: 3px;
    color:tomato;
    animation:moveRight 3s ease;
}

@keyframes moveLeft {
    0% {
        opacity: .3;
        transform: translate(-250px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes moveRight {
    0% {
        opacity: .3;
        transform: translate(250px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}